In [2]:
import pandas as pd

# Caminho do arquivo CSV Cliente
caminho_csv_cliente = '../raw_data/cliente.csv'

# Lendo o arquivo CSV
df_cliente = pd.read_csv(caminho_csv_cliente, delimiter=',')

# Exibindo as primeiras linhas do DataFrame cliente
print(df_cliente.head())

     nome sobrenome                     email        telefone  id
0  AALINE      ZYON      AALINEZYON@gmail.com  (23) 8354-9059   1
1   AARAO   ZUZIANE  AARAOZUZIANE@outlook.com  (18) 3183-4770   2
2   AARON      ZUZI       AARONZUZI@gmail.com  (22) 6077-6114   3
3     ABA    ZUZETE       ABAZUZETE@yahoo.com  (42) 2127-7981   4
4   ABADE    ZUZANE     ABADEZUZANE@terra.com  (47) 5908-0457   5

In [3]:
# Caminho do arquivo CSV produtos
caminho_csv_cliente = '../raw_data/produtos.csv'

# Lendo o arquivo CSV
df_produtos = pd.read_csv(caminho_csv_cliente, delimiter=',')

# Exibindo as primeiras linhas do DataFrame produtos
print(df_produtos.head())

   id        Nome                                          Descrição  Preço  \
0   0         Per  Industry argue program professor them describe...  28.28
1   1         Him  Thing through time left each key message prote...  77.68
2   2        Site  Line the lay above south energy charge America...  18.40
3   3    Remember        Boy edge participant take win risk student.  61.30
4   4  Conference             Live report side fall player response.  23.75

             EAN
0  5366679271277
1   553345077430
2   832306503721
3  4676945164747
4  3368569080299

In [4]:
df_produtos.head()

,id,Nome,Descrição,Preço,EAN
0,0,Per,Industry argue program professor them describe...,28.28,5366679271277
1,1,Him,Thing through time left each key message prote...,77.68,553345077430
2,2,Site,Line the lay above south energy charge America...,18.40,832306503721
3,3,Remember,Boy edge participant take win risk student.,61.30,4676945164747
4,4,Conference,Live report side fall player response.,23.75,3368569080299