In [7]:
import pandas as pd
from sqlalchemy import create_engine, Integer

# Definir o caminho para o CSV
caminho_csv = '../final_data/transacoes_final.csv'

# Ler o CSV com os dados
df_transacoes = pd.read_csv(caminho_csv)

# Criar a conexão com o banco de dados (exemplo para PostgreSQL)
# Substitua 'username', 'password', 'localhost', 'mydatabase' com seus dados reais
engine = create_engine('postgresql://magazord_user:magazord@localhost:5432/magazord')

# Carregar os dados para a tabela 'transacoess' no banco de dados
# A opção 'if_exists="replace"' vai substituir a tabela caso ela já exista, mas pode ser 'append' para adicionar aos dados existentes
df_transacoes.to_sql('transacoes', engine, index=False, if_exists='replace', dtype={'id_transacoes': Integer})

print("Dados carregados com sucesso!")

KeyboardInterrupt: